[Unit]
Description=Initial configuration Service
Wants=udev.service
After=serial-getty@.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/firstboot
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target