[Unit]
Description=LEDs start/stop Service
Wants=udev.service
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/leds start
ExecStop=/usr/sbin/leds stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target