[Unit]
Description=LEDs start/stop Service
Wants=udev.service
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/leds start
ExecStop=/etc/init.d/leds stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target